.page {
    height: 100vh;
    background-color: var(--card-bg-color);
    color: var(--text-color);
    display: flex; 
    flex-direction: column; 
    gap: 40px;
    justify-content: center; 
    align-items: center;
    font-size: 32px;
}