.btn {
    width: auto;
    height: 50px;
    margin: 10px;
    background-color: var(--theme-color);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
}

.btn>p {
    font-size: 18px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
}


.btn:hover {
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.4);
}

.btn:active {
    transform: scale(.95);
    filter: brightness(.9);
}

/*--------------------BREAKPOINTS PARA RESPONSIVIDADE------------------*/

/* Celular grande */
@media (max-width: 600px) {
    .btn>p {
        font-size: 16px;
    }
}

/* Celular padrão */
@media (max-width: 480px) {
    .btn {
        height: 40px;
    }

    .btn>p {
        font-size: 12px;
        padding: 5px;
    }
}