.btn {
    width: auto;
    height: 50px;
    background-color: #FE8A03;
    color: #F0F0F0;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
}

.btn>p {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
}


.btn:hover {
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.4);
}

.btn:active {
    transform: scale(.95);
    filter: brightness(.9);
}