.layout {
    width: 95vw;
    height: 85vh;
    margin: 10px;
    border: 1px solid #FE8A03;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    gap: 10px;
}

p {
    font-size: 24px;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    justify-self: end;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

button {
    border: 2px solid #FE8A03;
    border-radius: 5px;
    background-color: inherit;
    padding: 5px;
    margin: 10px;
    transition: all .3s ease;
}

.active {
    background-color: #FE8A03;
    color: #FFF;
}

.chartsDiv {
    width: 1000px;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #FE8A03;
}

button:active {
    transform: scale(.95);
    background-color: #dedede;
}